
<div class="nav-bar">
  <button class="nav-button"><a href="/signup">Sign up</a></button>
</div>

<p>Please login to continue your journey of becoming a great soccer player! <p>

<form method="POST" method="/login">
  <input type="text" placeholder="Username:" name="username"><br></br>
  <input type="password" placeholder="Passsword:" name="password"><br></br>
  <input type="submit" value="Log In" class="login_button">
</form>