
<p>Please fill in the fields below to register:</p>

<form method="POST" action="/signup">
  <input type="text" placeholder="Username:" name="username"><br></br>
  <input type="text" placeholder="Email:" name="email"><br></br>
  <input type="password" placeholder="Password:" name="password"><br></br>
  <input type="submit" value="Create account" class="signup_button">
</form>

<p id="p-2">By creating an account you agree to all terms and conditions set forth in the Terms and Conditions.</p>