
<p>Welcome to Soccer Training Tracker! Soccer Training Tracker is<br>
  an app that helps you organize and keep track of all your soccer<br>
  training drills. You can also view drills posted by other players<br> 
  and coaches.<br>
</p>