<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Soccer Training Tracker</title>
  </head>
  <body>

    <div class="container-main">
      <a href="/"><img src="/img/crest.jpg" class="crest" alt="crest" width="17%" height="17%"></a>
      <h1>Soccer Training Tracker</h1>

      <div id="flash-msg">
        <% if flash.has?(:message) %>
          <%= flash[:message] %>
        <% end %>
      </div>

      <%= yield %>

      <p id="foot-p">&copy; 2018 Soccer Training Tracker, Inc.</p>
    </div>

    <img src="/img/player1.png" class="left-image" alt="player1" width="12%" height="12%">

    <img src="/img/player2.png" class="right-image" alt="player2" width="13%" height="13%">

  </body>
</html>
